<div class="sidebar">
  <%= link_to root_path, class: "brand-logo" do %>
    <h3>Product Information Management Interface</h3>
  <% end %>
  <ul class="hidden-xs hidden-sm">
    <% if user_signed_in? %>
      <li> <%= link_to "View all products", root_path %></li>
      <li> <%= link_to "Add a product", new_product_path %></li>
      <% if current_user.admin %>
        <li> <%= link_to "Manage attributes", admin_product_attributes_path %></li>
      <% end %>
      <li id="sidebar-logout">
        <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
        <% end %>
      </li>
    <% else %>
      <!-- Login link (when logged out) -->
      <li><%= link_to t(".sign_in", default: "Log in"), new_user_session_path %></li>
      <li><%= link_to t(".sign_up", default: "Sign up"), new_user_registration_path %></li>
    <% end %>
  </ul>

    <!-- Dropdown list appearing on mobile only -->
  <div class="mobile-navbar hidden-md hidden-lg">
    <% if user_signed_in? %>
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><%= link_to "View all products", root_path %></li>
          <li><%= link_to "Add a product", new_product_path %></li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <%= t(".sign_out", default: "Log out") %>
            <% end %>
          </li>
        </ul>
      </div>
    <% else %>
      <%= link_to t(".sign_in", default: "Log in"), new_user_session_path %></li>
    <% end %>
  </div>
</div>
